.expenses-filter {
  padding: 0 1rem;
}

.expenses-filter__control {
  display:flex;
  width: 80%;
  align-items: center;
  padding-left: 2.5rem;
  justify-content: space-between;
  margin-left: 1.5rem 0;
  font-family:Georgia, 'Times New Roman';
  font-weight: bold;
  color: rgb(250, 27, 27);
  font-size: 1.5rem;
  background-color: rgb(91, 27, 104);
  border-radius: 15px;

}

.expenses-filter__control select{
background-color: black;
color: bisque;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgba(254, 2, 158, 0.988);
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}